.features {
    background-color: var(--main-background-color);
}

.features__item {
    max-width: 450px;
    margin-bottom: 30px;
}

.features__item-rectangle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 4px;
    background-color: var(--secondary-background-color);
}

.features__icon {
    width: 70px;
    height: 70px;
    margin: 0;
}

.features__title {
    margin-bottom: 10px;

    font-size: 14px;
    font-weight: 700;
    line-height: 1.17;
    text-align: center;
    text-transform: uppercase;
    color: var(--headers-color);
}

.features__text {
    line-height: 1.71;
}

@media screen and (min-width: 768px) {
    .features__features-container {
        display: flex;
        column-gap: 30px;
        flex-wrap: wrap;
    }

    .features__item {
        max-width: 354px;
    }

    .features__title {
        text-align: left;
    }
}

@media screen and (min-width: 1200px) {
    .features__features-container {
        flex-wrap: nowrap;
    }

    .features__item {
        max-width: 270px;
        margin: 0;
    }
}