.team {
    background-color: var(--secondary-background-color);
}

.team__title {
    margin-bottom: 30px;

    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    color: var(--headers-color);
}

.team__list {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.team__card {
    max-width: 450px;
    padding-bottom: 24px;

    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: var(--main-background-color);
}

.team__member {
    margin-top: 30px;
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--headers-color);
}

.team__function {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .team__list {
        flex-direction: row;
        column-gap: 30px;
        flex-wrap: wrap;
    }

    .team__card {
        max-width: 354px;
    }
}

@media screen and (min-width: 1200px) {
    .team__list {
        flex-wrap: nowrap;
    }

    .team__card {
        max-width: 270px;
        padding-bottom: 30px;
    }
}