@media screen and (max-width: 767px) {
    .mobile-menu {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 5;

        width: 100%;
        height: 100%;
        
        background: var(--main-background-color);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
        
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: opacity var(--transition-dur-and-func), visibility var(--transition-dur-and-func);
    }

    .mobile-menu.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .mobile-menu__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        position: relative;
        height: 100%;
        padding: 48px 40px;
    }

    
    .mobile-menu__close-btn {
        position: absolute;
        top: 10px;
        right: 15px;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 40px;
        height: 40px;
        padding: 0;
        line-height: 0;
        border: none;
        background-color: transparent;
    }

    .mobile-menu__close-btn-icon {
        fill: var(--headers-color);

        transition: fill var(--transition-dur-and-func);
    }

    .mobile-menu__close-btn:hover .mobile-menu__close-btn-icon,
    .mobile-menu__close-btn:focus .mobile-menu__close-btn-icon {
        fill: var(--accent-color);
    }

    .mobile-menu__menu-item {
        font-weight: 500;
        font-size: 40px;
        line-height: 1.18;
        letter-spacing: 0.02em;

        &:not(:last-child) {
            margin-bottom: 32px;
        }
    }

    .mobile-menu__menu-link {
        color: var(--headers-color);

        transition: color var(--transition-dur-and-func);

        &:hover,
        &:focus {
            color: var(--accent-color);
        }
    }

    .mobile-menu__contact-info {
        margin-bottom: 64px;

        font-weight: 500;
        letter-spacing: 0.02em;
    }

    .mobile-menu__phone {
        display: block;
        margin-bottom: 32px;
        margin-top: auto;
    }

    .mobile-menu__phone-link {
        font-size: 34px;
        line-height: 1.18;

        color: var(--accent-color);
    }

    .mobile-menu__mail-link {
        font-size: 24px;
        line-height: 1.17;

        color: var(--main-text-color);
    }

    .mobile-menu__social-media-list {
        display: flex;
        justify-content: start;
        gap: 10px;
        flex-wrap: wrap;

        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;
    }

    .mobile-menu__social-media-link {
        color: var(--accent-color);
    }

    .mobile-menu__social-media-link--instagram::after,
    .mobile-menu__social-media-link--twitter::after,
    .mobile-menu__social-media-link--facebook::after {
        content: "";
        width: 1px;
        height: 100%;
        margin-left: 10px;
        background-color: rgba(33, 33, 33, 0.2);
        border: 1px solid rgba(33, 33, 33, 0.2);
    }

    .mobile-menu__current-link {
        color: var(--accent-color);
    }
}