:root {
    --accent-color: #2196F3;
    --main-text-color: #757575;
    --headers-color: #212121;
    --white-text-color: #ffffff;
    --icon-color: #AFB1B8;
    --main-background-color: #ffffff;
    --secondary-background-color: #f5f4fa;
    --button-hover-color: #188CE8;
    --footer-background-color: #2F303A;
    --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}